@page "/mediatypes/create"

<h3>Create Media Type</h3>

@if (string.IsNullOrEmpty(message) == false)
{
	<div class="alert alert-danger" role="alert">
		@message
	</div>
}

<MediaTypeFormComponent ButtonText="Create" MediaTypeModel="mediaType" OnValidSubmit="@CreateMediaType" />