@page "/mediatypes/edit/{id:int}"
@attribute [Authorize(Roles = "Administrator")]

<h3>Edit Media Type</h3>

<MediaTypeFormComponent ButtonText="Update" MediaTypeModel="mediaType" Disabled="false" OnValidSubmit="@EditMediaType" />