@page "/statuses/create"

<h3>Create</h3>

@if (string.IsNullOrEmpty(Message) == false)
{
	<div class="alert alert-danger" role="alert">
		@Message
	</div>
}

<StatusFormComponent ButtonText="Create" StatusModel="status" OnValidSubmit="@CreateStatus" />



