@page "/datatypes/create"

<h3>Create Datatype</h3>

@if (string.IsNullOrEmpty(message) == false)
{
	<div class="alert alert-danger" role="alert">
		@message
	</div>
}

<DataTypeFormComponent ButtonText="Create" DataTypeModel="dataType" OnValidSubmit="@CreateDataType" />