@page "/datatypes/edit/{id:int}"
@attribute [Authorize(Roles = "Administrator")]

<h3>Edit Data Type</h3>

<DataTypeFormComponent ButtonText="Update" DataTypeModel="dataType" Disabled="false" OnValidSubmit="@EditDataType" />